<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PAPAGO_CLIENT_ID</key>
	<string>rl92kiMreuWz_zYgvvh0</string>
	<key>PAPAGO_CLIENT_SECRET</key>
	<string>Pe2OrWBjST</string>
</dict>
</plist>
